In [2]:
import numpy as np
import pandas as pd
import random as rnd

In [ ]:
1.
#Write a function to find moving average in an array over a window:
#Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [3]:
#Defined Fucntion to calculate the moving average
# First paramater is the data and the 2nd is the size for which the avg needs to be calculated
def moving_avg(data,window):
    for i in range(len(data)-window):
        y=np.sum(data[i:i+window])
        print(y/window)

        
data = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
moving_avg(data,3)

5.0
4.666666666666667
5.666666666666667
6.666666666666667
9.666666666666666
28.666666666666668
49.333333333333336
72.66666666666667
84.0
93.33333333333333

In [ ]:
#How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer)
#create a new column 'Y'
#Consider a DataFrame df where there is an integer column 'X'
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [5]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
dataSeries = pd.Series([7, 2, 0, 3, 4, 2, 5, 0, 3, 4])
df['Y']=(dataSeries.groupby(dataSeries.eq(0).cumsum().mask(dataSeries.eq(0))).cumcount() + 1).mask(dataSeries.eq(0), 0).tolist()
print('Final DataFrame is as below')
df

Final DataFrame is as below

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [ ]:
#2.
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#random numbers.

In [7]:
#Below Fucniton to get the Random numbers of length as per parameter passed
def getRandomNumbers(len):
    lRandNum = []
    for x in range(0,len):
        lRandNum.append(rnd.randint(0,len))
                
    return lRandNum

In [18]:
#Getting Business Days
bDays = pd.DatetimeIndex(start='2015-01-01',end='2015-12-31', freq='B')

# Below Lines For business Days
lRandNum = getRandomNumbers(len(bDays))

#DataSeries with index as Business Days
dateSeries= pd.Series(lRandNum, index=bDays)

#Printing the dateSeries with indes as business date
dateSeries

2015-01-01    154
2015-01-02     47
2015-01-05    253
2015-01-06     70
2015-01-07    171
2015-01-08     80
2015-01-09     47
2015-01-12     10
2015-01-13     67
2015-01-14    129
2015-01-15     32
2015-01-16    205
2015-01-19    182
2015-01-20    145
2015-01-21    120
2015-01-22    134
2015-01-23     77
2015-01-26    103
2015-01-27     49
2015-01-28      6
2015-01-29     94
2015-01-30    129
2015-02-02    232
2015-02-03    256
2015-02-04     60
2015-02-05    205
2015-02-06    214
2015-02-09    241
2015-02-10     97
2015-02-11     34
             ...
2015-11-20    141
2015-11-23    100
2015-11-24    114
2015-11-25    117
2015-11-26     12
2015-11-27    158
2015-11-30    195
2015-12-01     42
2015-12-02    221
2015-12-03     46
2015-12-04    229
2015-12-07    240
2015-12-08    235
2015-12-09    200
2015-12-10    234
2015-12-11     88
2015-12-14     31
2015-12-15    204
2015-12-16    155
2015-12-17    163
2015-12-18    131
2015-12-21    204
2015-12-22     95
2015-12-23    243
2015-12-24    254
2015-12-25    192
2015-12-28    213
2015-12-29     71
2015-12-30    207
2015-12-31    185
Freq: B, Length: 261, dtype: int64

In [ ]:
#3.
#Find the sum of the values in s for every Wednesday

In [21]:
#Creating DataFrame with Date and Random numbers

bDateFrame=pd.DataFrame({'BusDays': bDays})

# Below Lines For business Days
bDateFrame['RandomNum']=lRandNum

#Selecting only Wednesdays
wedDays = bDateFrame[bDays.weekday == 2]

#To get the Sum of Numbers for all Wednesdays
wedDays.RandomNum.sum()

6878

In [ ]:
#4.
#Average For each calendar month

In [22]:
dateSeries.resample('M').mean()

2015-01-31    104.727273
2015-02-28    135.650000
2015-03-31    121.363636
2015-04-30    107.181818
2015-05-31    132.238095
2015-06-30    119.090909
2015-07-31    133.130435
2015-08-31    124.619048
2015-09-30    138.272727
2015-10-31    111.909091
2015-11-30    115.047619
2015-12-31    168.826087
Freq: M, dtype: float64

In [ ]:
#5.
#For each group of four consecutive calendar months in s, find the date on which the highest
#value occurred

In [20]:
dateSeries.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Users\vivekp\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-05
2015-05-31   2015-02-03
2015-09-30   2015-07-16
2016-01-31   2015-12-24
dtype: datetime64[ns]